*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.cache
.coverage
.idea/
.installed.cfg
.installed.cfg
.Python
.tox/
bin
build/
coverage.xml
develop-eggs
develop-eggs/
dist
dist/
docs/_build/
downloads
downloads/
eggs
eggs/
env/
htmlcov/
lib
lib/
lib64
lib64/
nosetests.xml
parts
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
src/*.egg-info
src/files/media/*
src/files/static/*
target/
var/
__pycache__/
