{% extends "base/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block title %}{% trans 'menu_contacts' %} | {% trans 'app_title' %}{% endblock %}

{% block extra_head %}<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />{% endblock %}

{% block breadcrumb %}<ol class="breadcrumb">
  <li><a href="{% url 'core:index' %}">{% trans 'menu_home' %}</a></li>
  <li><a href="{% url 'contact:contact_list' %}">{% trans 'menu_contacts' %}</a></li>
  <li class="active">Viewing NAME</li>
</ol>{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
      Hi.
  </div>
</div>

{% endblock %}
