beautifulsoup4==4.3.2
configparser==3.3.0.post2
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.3
django-bootstrap3==5.1.1
django-dotenv==1.3.0
django-extensions==1.4.9
django-mysql-pymysql==0.1
docutils==0.12
ecdsa==0.11
MySQL-python==1.2.5
paramiko==1.15.2
pilkit==1.1.12
pycrypto==2.6.1
pydot==1.0.2
pygithub3==0.5.1
PyMySQL==0.6.3
pyparsing==1.5.7
pystache==0.5.4
requests==2.5.1
simplejson==3.6.5
six==1.9.0
static==1.1.1
static3==0.5.1
transifex-client==0.10
